<header>
  <div class="pageHead">
    <img src="/assets/Images/shopping_icon.png" alt="shopping_icon" />
    <h3><strong>Smart-Mart</strong></h3>
    <h2>
      <% if(user===null||user===undefined){%> Not signed In <%}else{%>Welcome
      <%=user.firstName%><%}%>
    </h2>
  </div>
</header>
