<header>
  <div class="pageHead">
    <img src="/assets/Images/shopping_icon.png" alt="shopping_icon" />
    <h3><strong>Smart-Mart</strong></h3>
    <select>
      <option value="notLogIn">Not logged In</option>
      <option value="logIn">Log In</option>
    </select>
  </div>
</header>
